{% extends "curling/base_generic.html" %}


{% block content %}


<div class="container-fluid">
  <div class="text-center">
    <h2>Shot Info</h2>
    <h4>View live shot information</h4>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Person</h3>
        </div>
        <div id="person-body" class="panel-body">
    	  {% if most_recent_shot %}
    	  {% for Shot in most_recent_shot %}
              {% if Shot.Person %}
          	<h2 id="personfield"><a href="/curling/person/{{ Shot.Person.id }}/">{{ Shot.Person }}</a></h2>
	      {% else %}
    	  	<h2 id="personfield">No Person</a></h2>
	      {% endif %}
    	  {% endfor %}
	  {% else %}
    	  	<h2 id="personfield">No Person</a></h2>
	  {% endif %}
        </div>
      </div> 
    </div> 
   <div class="col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Rock</h3>
        </div>
        <div id="rock-body" class="panel-body">
    	  {% if most_recent_shot %}
    	  {% for Shot in most_recent_shot %}
            {% if Shot.Rock %}
        	<p id="clubnamefield">{{ Shot.Rock.Sheet.Club }}</p>
        	<h2 id="rocklabelfield">{{ Shot.Rock.Color }} {{ Shot.Rock.RockLocalID }}</h2>
        	<p id="sheetlabelfield">Sheet {{ Shot.Rock.Sheet.SheetLocalID }}</p>
	    {% else %}
        	<p id="clubnamefield">--</p>
    		<h2 id="rocklabelfield">No Rock</a></h2>
        	<p id="sheetlabelfield">--</p>
	    {% endif %}
    	  {% endfor %}
	  {% else %}
    	  	<h2>No Rock</h2>
	  {% endif %}
        </div>
      </div> 
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Split Time</h3>
        </div>
        <div id="split-time-body" class="panel-body">
    	  {% if most_recent_shot %}	
    	  {% for Shot in most_recent_shot %}
              {% if Shot.TeeHogSplit %}
                  <h1 id="splittimefield">{{ Shot.FormattedTeeHogSplit }}</h1>
              {% else %}
                  <h1 id="splittimefield">--</h1>
              {% endif %}
                  <p>seconds</p>
    	  {% endfor %}
	  {% else %}
    	  	<h1 id="splittimefield">--</h1>
	  {% endif %}
        </div>
      </div> 
    </div> 
    <div class="col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Velocity (m/s)</h3>
        </div>
        <div id="velocity-body" class="panel-body">
    	  {% if most_recent_shot %}	
    	  {% for Shot in most_recent_shot %}
              {% if Shot.AvgSplitSpeed %}
                  <p id="velocityavg">Tee-Hog Avg: {{ Shot.AvgSplitSpeed|floatformat:3 }}</p>
              {% else %}
                  <p id="velocityavg">Tee-Hog Avg: --</p>
              {% endif %}

              {% if Shot.HogSpeed %}
                  <p id="velocityhog">Hog: {{ Shot.HogSpeed|floatformat:3 }}</p>
              {% else %}
                  <p id="velocityhog">Hog: --</p>
              {% endif %}

              {% if Shot.TeeSpeed %}
                  <p id="velocitytee">Tee: {{ Shot.TeeSpeed|floatformat:3 }}</p>
              {% else %}
                  <p id="velocitytee">Tee-: --</p>
              {% endif %}
    	  {% endfor %}
	  {% else %}
    	  	<h3>No Data Available</h3>
	  {% endif %}
        </div>
      </div> 
    </div> 
  </div>


<script>
socket = new WebSocket("ws://" + window.location.host + "/session{{ Session.id }}/");
socket.onmessage = function(e) {
    var result = e.data.slice(1, -1);
    obj = JSON.parse(result)
    //alert(obj.fields.RFIDValue)
    
    if (obj.fields.PersonName == null) {
      document.getElementById("personfield").innerHTML = "No Person"
    } else if (document.getElementById("personfield").innerHTML !== obj.fields.PersonName) {
      document.getElementById("personfield").innerHTML = obj.fields.PersonName
      $(document.getElementById("person-body")).highlight()
    }

    if (obj.fields.RockLabel == null) {
      document.getElementById("rocklabelfield").innerHTML = "No Rock"
    } else if (document.getElementById("rocklabelfield").innerHTML !== obj.fields.RockLabel) {
      document.getElementById("rocklabelfield").innerHTML = obj.fields.RockLabel
      document.getElementById("clubnamefield").innerHTML = obj.fields.ClubName
      document.getElementById("sheetlabelfield").innerHTML = obj.fields.SheetLabel
      $(document.getElementById("rock-body")).highlight()
    }

    if (obj.fields.TeeHogSplit == null) {
      document.getElementById("splittimefield").innerHTML = "--"
      document.getElementById("velocityavg").innerHTML = "Tee-Hog Avg: --"
      document.getElementById("velocityhog").innerHTML = "Hog: --"
      document.getElementById("velocitytee").innerHTML = "Tee: --"
    } else {
        var formattedsplittime = obj.fields.TeeHogSplit / 1000
        formattedsplittime = formattedsplittime.toFixed(2)
        if (document.getElementById("splittimefield").innerHTML !== formattedsplittime) {
          document.getElementById("splittimefield").innerHTML = formattedsplittime
          document.getElementById("velocityavg").innerHTML = ("Tee-Hog Avg: " + obj.fields.AvgSplitSpeed.toFixed(3))
          document.getElementById("velocityhog").innerHTML = ("Hog: " + obj.fields.HogSpeed.toFixed(3))
          document.getElementById("velocitytee").innerHTML = ("Tee: " + obj.fields.TeeSpeed.toFixed(3))
          $(document.getElementById("split-time-body")).highlight()
          $(document.getElementById("velocity-body")).highlight()
        }
    }
    
}
socket.onopen = function() {
    socket.send("hello world");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>




</div>

{% endblock %}