{% extends "curling/base_generic.html" %}

{% block content %}

<div class="container">
<div class="btn-group btn-group-justified">
<a href="/curling/person/" class="btn btn-primary">Person</a>
<a href="/curling/club/" class="btn btn-primary">Club</a>
<a href="/curling/sheet/" class="btn btn-primary">Sheet</a>
<a href="/curling/rock/" class="btn btn-primary">Rock</a>
</div>
</div>

{% load crispy_forms_tags %}

{% crispy form form.helper %}
{% crispy formRFID formRFID.helper %}

{% crispy form_sheet form_sheet.helper %}
{% crispy form_Rock_RFID form_Rock_RFID.helper %}

{% endblock %}