{% extends "curling/base_generic.html" %}

{% block content %}

<div class="container">
<div class="btn-group btn-group-justified">
<a href="/curling/person/" class="btn btn-primary">Person</a>
<a href="/curling/club/" class="btn btn-primary">Club</a>
<a href="/curling/sheet/" class="btn btn-primary">Sheet</a>
<a href="/curling/rock/" class="btn btn-primary">Rock</a>
</div>
</div>

{% load crispy_forms_tags %}

{% crispy form form.helper %}
{% crispy formRFID formRFID.helper %}

{% crispy form_sheet form_sheet.helper %}
{% crispy form_Rock_RFID form_Rock_RFID.helper %}

<script>
socket = new WebSocket("ws://" + window.location.host + "/setup{{ Session.id }}/");
socket.onmessage = function(e) {
    //alert(e.data);
    var result = e.data.slice(1, -1);
    obj = JSON.parse(result)
    //alert(obj.fields.RFIDValue)
    
    var arr = document.getElementsByClassName("rfidfield");


    for(var i = 0; i < arr.length; i++)
    {
        var option = document.createElement("option");
        option.text = obj.fields.RFIDValue;
        option.value = obj.pk;
        arr.item(i).add(option);
    }
    
}
socket.onopen = function() {
    socket.send("hello world");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock %}